.App {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
